div#SiteCont[simple='false'] nav#UserMenu {
    transition: 1.4s all;
}

div#SiteCont[simple='false'] aside,
div#SiteCont[simple='false'] aside *,
div#SiteCont[simple='false'] header,
div#SiteCont[simple='false'] header * {
    transition: .4s all ease-in;
}

/*Desde Dispositivo con Mouse*/
@media only screen and (min-device-width: 667px) {
    
    div#SiteCont[simple='false']>header>button:hover,
    div#SiteCont[simple='false']>header>nav>button:hover {
        animation: anim2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    div#SiteCont[simple='false']>aside li>button:hover,
    div#SiteCont[simple='false']>header li>button:hover {
        text-shadow: 1px 0 5px;
    }


    div#SiteCont[simple='false']>aside li>button::before,
    div#SiteCont[simple='false']>header li>button::before,
    div#SiteCont[simple='false']>header li>a::before {
        content: '';
        position: absolute;
        bottom: .4em;
        left: 80%;
        width: 14px;
        height: 6px;
        transition: 2s;
        transform: translateX(-50%) skew(325deg);
    }


    div#SiteCont[simple='false']>aside li>button:hover::before,
    div#SiteCont[simple='false']>header li>button:hover::before,
    div#SiteCont[simple='false']>header li>a:hover::before {
        width: 20px;
        left: 20%;
    }

    div#SiteCont[simple='false']>aside li>button::after,
    div#SiteCont[simple='false']>header li>button::after,
    div#SiteCont[simple='false']>header li>a::after {
        content: '';
        position: absolute;
        top: .4em;
        left: 20%;
        width: 14px;
        height: 6px;
        transition: 2s;
        transform: translateX(-50%) skew(325deg);
    }

    div#SiteCont[simple='false']>aside li>button:hover::after,
    div#SiteCont[simple='false']>header li>button:hover::after,
    div#SiteCont[simple='false']>header li>a:hover::after {
        width: 20px;
        left: 80%;
    }

    div#SiteCont[simple='false']>footer>div:first-child>a:hover>img {
        animation: anim;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }

    
@media only screen and (max-width: 600px){
    div#SiteCont[simple='false']>aside li>button::before,
    div#SiteCont[simple='false']>header li>button::before,
    div#SiteCont[simple='false']>header li>a::before {
        height: 4.2px;
    }

    div#SiteCont[simple='false']>aside li>button::after,
    div#SiteCont[simple='false']>header li>button::after,
    div#SiteCont[simple='false']>header li>a::after {
        height: 4.2px;
    }
}

    @keyframes anim2 {
        0% {
            filter: drop-shadow(0 0 1px #818181);
        }

        30% {
            filter: drop-shadow(0 0 -1px #595959);
        }

        60% {
            filter: drop-shadow(0 0 1px #2c2c2c);
        }

        90% {
            filter: drop-shadow(0 0 1px #5252523c);
        }
    }

    @keyframes anim {
        0% {
            filter: invert() drop-shadow(0 0 2px #a8a8a85a);
        }

        30% {
            filter: invert() drop-shadow(0 0 -2px #252525);
        }

        60% {
            filter: invert() drop-shadow(0 0 2px #070707);
        }

        90% {
            filter: invert() drop-shadow(0 0 2px #2525253c);
        }
    }
}