.containerCard
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxCards
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
}
.card{
    width: 300px;
}
.image
{
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}