.containerCard
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxCards
{
    display: flex;
    flex-direction: row;

    gap: 20px;
    padding: 20px;
    margin: 100px 0;

    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
}
.image
{
    width: 100%;
    height: 240px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 700px){
    .boxCards{
        margin: 40px 0;
    }
}