
.containerLogin
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/public/loginWallpapers2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
.formSession{
    width: max-content;
    height: max-content;

}
.formSession form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    box-shadow: 3px 5px 12px 0px #000;
}
.logoUtn
{
    background-image: url('/public/logo-utn.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 50px;
    margin: 0 0 40px 0;
}
.inputs
{
    color: #fff;
}
