button.xAc {
    position: fixed;

    bottom: 5.2em;
    left: 4.4em;

    width: .8em;
    height: .8em;

    margin-top: auto;
    background-color: transparent !important;

    z-index: 12;
}

/*cel*/
@media only screen and (max-device-width: 700px) {
    button#xAc {
        width: 1.4em;
        height: 1.4em;
    }
}

aside#Ac {
    position: fixed;

    bottom: 1vh;
    left: .4vh;

    width: 4em;
    height: 4em;

    margin-top: auto;
    background-color: transparent !important;

    z-index: 10;
}

#Ac>button {
    display: flex;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    justify-items: center;

}

#Ac>button>svg {
    width: 100%;
    height: 100%;
}

#Segment {
    position: fixed;

    width: calc(100% - 6em);
    min-height: 20vh;
    height: auto;

    left: 4.4em;
    bottom: 2em;

    background-color: rgb(41, 179, 200);
    outline: 2px solid rgb(11, 86, 98);

    z-index: 10;
}

#Segment>form,
.Segul {
    width: 100%;
    height: 100%;
}

.Segul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1em;
}

.Segul>li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    min-height: 2em;

    padding-top: .4em;
    padding-bottom: .4em;

    text-align: center;
    align-content: center;
    align-items: center;
}

.Segul>li>h2,
.Segul>li>h3 {
    display: inline;
}

.Segul>li>div {
    display: flex;
    flex-wrap: nowrap;

    min-width: 10em;

    flex-grow: 1;
}

.Segul>li>div>input {
    margin-left: 1em;
    margin-right: 1em;
}

/*pc*/
@media only screen and (min-width: 667px) {
    button.xAc {
        bottom: 4.2em;
        left: 4.2em;

        width: 2em;
        height: 2em;
    }

    aside#Ac {
        width: 4.2em;
        height: 4.2em;
    }
}

@media only screen and (max-width: 667px){
    button.xAc {
        bottom: 3.5em;

        width: 1em;
        height: 1em;
    }

    aside#Ac {
        width: 3.4em;
        height: 3.4em;
    }

    .Segul>li{
        padding-top: .1em;
        padding-bottom: .1em;
    }
}