#Alternativo{
    position: fixed;
    display: block;

    top: 10vh;

    width: 100%;
    height: auto;
    
    min-height: 12em;
    
    z-index: 10;
}
#Alternativo>nav{
    position: absolute;

    width: 100%;
    height: 100%;
}
.linksA{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    text-align: center;
    align-items: center;
}
.linksA>li{
    min-width: 20vh;
    height: 4em;
    flex-grow: 1;
}

.linksA>li:last-child{
    width: 100%;
}
.linksA>li:last-child>button{
    width: 30em;
}
.linksA>li>button{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.01);
    border-radius: 1em;
}

/*Pc chica o cel*/
@media only screen and (max-device-width: 850px){
    #Alternativo{
        min-height: 16em;
    }
    .linksA{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .linksA>li{
        width: 100%;
        min-height: 3.2em;
    }
}