*{
    position: relative;
    
    max-width: 100%;
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}
div#SiteCont{
    min-height: 100%;
}

main{
    padding-top: 4vh;
    padding-bottom: 32vh;
    
    min-height: 40vh;
    
    margin-top: 20vh;
    margin-left: .5vh;
    margin-right: .5vh;
    margin-bottom: 10vh;
}

footer{
    bottom: 0;
}

button{
    background-color: transparent;
    outline: none;
    border: none;

    cursor: pointer;
}
ul{
    list-style: none;
}

#Filter{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;

    opacity: .2;
    background-color: black;
    z-index: 4;
}