section.c{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*

**

*****

**

Formularios

**

*****

**

*/
form.f{
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form.classic--1 *{
    width: 100%;
}
form.classic--1 input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid blue;
    width: 70em;
}


/*

**

*****

**

XCONTROL DE IMAGENES

**

*****

**

*/

.util{
    position: absolute;

    width: 8vh;
    height: 8vh;
    z-index: 3;
}

button.util{
    border-radius: 30%;
    border-bottom: 2px solid black;

    opacity: .2;
    z-index: 4;
}
div.fximg>img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
img.co{
    object-fit: cover;
}
img.fi{
    object-fit:fill;
}
img.sd{
    object-fit:scale-down;
}

div.fximg{
    display: flex;
}

div.l1{
    height: 14em;
}
div.l2{
    height: 12em;
}
div.l3{
    height: 10em;
}
div.l4{
    height: 8em;
}